version: 0.0.1
achievements:
  - achievement:
      name: Mas Tqla!
      icon: https://raw.githubusercontent.com/VauntDev/tqla/main/.vaunt/mas_tqla.png
      description: uno mas, dba..., one more, mas tqla!   
      triggers:
        - trigger:
            actor: author
            action: star
            condition: starred = true
  - achievement: 
      name: Tqla Worm 
      icon: https://raw.githubusercontent.com/VauntDev/tqla/main/.vaunt/tqla_worm.png
      description: not all bugs are bad!    
      triggers:
        - trigger:
            actor: resolved_by
            action: issue
            condition: labels in ['bug'] & reason = COMPLETED
  - achievement: 
        name: Tqla Sunrise  
        icon: https://raw.githubusercontent.com/VauntDev/tqla/main/.vaunt/tqla_sunrise.png
        description: a shining example of your contribution to tqla!    
        triggers:
          - trigger:
              actor: author
              action: pull_request
              condition: merged = true
              operator: "|"         
          - trigger: 
              actor: reviewers
              action: pull_request
              condition: merged = true
    - achievement: 
      name: Tqla Honey Bee
      icon: https://raw.githubusercontent.com/VauntDev/tqla/main/.vaunt/tqla_honey_bee.png
      description: We bee-lieve in you! This achievement celebrates your first bug report, helping make Tqla sweeter than ever.
      triggers:
        - trigger:
            actor: author
            action: issue
            condition: labels in ['bug'] & reactors in ['elewis787', 'jeff10110322', 'simonmazzaroth']
    - achievement: 
      name: Mojito Tqla
      icon: https://raw.githubusercontent.com/VauntDev/tqla/main/.vaunt/mojito_tqla.png
      description: Your enhancement's a delight! Thanks for making Tqla even brighter than night.
      triggers:
        - trigger:
            actor: author
            action: issue
            condition: labels in ['enhancement']
